/*Define a largura e o espaçamento dos botões*/
a.btn{
  margin-right: 8%;
  margin-top: 5%;
  width: 40%;
}
/*Define a fonte dos botões*/
a.btn + span{
  font-family: 'Roboto', sans-serif; 
}
/*Define a cor da barra de navegação*/
.nav-wrapper{
  background-color: #EE1B24;
}
/*Oculta o cartão modelo*/
.model-card{
  display: none;
}
/*Define a altura do espaço da descrição*/
.description{
  height: 35px;
}
/*Define o tamanho da imagem de Logo*/
.img-brand-logo{
  height: 64px;
  width: 64px;
}
/*Define o tamanho e espaçamento do nome do site*/
#site-brand{
  position: fixed;
  top: 0;
  margin-left: 10px;
  font-size: 24px;
}

